@charset "UTF-8";

body {
    background-color: #F0D943;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 0px;
}

header {
    background-color: #F5A99F;
    height: 100px;
    margin: 0px;
    padding: 10px 20px;
    text-align: right;
}

nav {
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.26);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}

main {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.192);
}

div > a{
    text-decoration: none;
    color: black;
}

div > a:hover {
    text-decoration: underline;
    color: rgb(100, 100, 100);
}

.articleLink {
    border: 5px solid black ;
    padding: 0px 10px;
    border-radius: 10px;
}

footer {
    background-color: #F0412B;
    margin: 0px;
    text-align: center;
    padding: 10px;
}

footer > p {
    margin: 0px;
}